<p id="ErrorMessage" *ngIf="errorMessage">{{errorMessage}}</p>
<p id="Message" *ngIf="message">{{message}}</p>
<table>
  <tr>
    <th>Nombre</th>
    <th>Id</th>
    <th>Cantidad</th>
    <th>Precio</th>
  </tr>
  <tr *ngFor="let cart of cartList">
    <td>{{ cart.name }}</td>
    <td>{{ cart.productId }}</td>
    <td>{{ cart.amount }} ud</td>
    <td>{{ cart.price }}€</td>
    <button class="removeProduct" (click)="removeProductFromCart(cart.productId)">-</button>
    <button class="AddToCart" (click)="addToCart(cart.productId)">+</button>
    
  </tr>
</table>
<button [routerLink]="'/confirmPurchase'">Confirmar compra</button><br>
<button [routerLink]="'/'">Volver</button>
