<p id="ErrorMessage" *ngIf="errorMessage">{{ errorMessage }}</p>
<p id="Message" *ngIf="message">{{ message }}</p>
<table *ngIf="cartList.length > 0">
  <tr>
    <th>Nombre</th>
    <th>Id</th>

    <th>Cantidad</th>

    <th>Precio</th>
  </tr>
  <tr *ngFor="let cart of cartList">
    <td>{{ cart.name }}</td>
    <td class="number">{{ cart.productId }}</td>

    <td>
      <button
        class="removeProduct"
        (click)="removeProductFromCart(cart.productId)"
      >
        -
      </button>
      {{ cart.amount }} ud
      <button class="AddToCart" (click)="addToCart(cart.productId)">+</button>
    </td>

    <td class="number">{{ cart.price }}€</td>
  </tr>
</table>
<button [routerLink]="'/confirmPurchase'">Confirmar compra</button><br />
<button [routerLink]="'/'">Volver</button>
