<div class="main-container"><p>CONFIRMACIÓN DE LA COMPRA</p>
  <div class="table-container">
    <table>
    <tr>
      <th>Nombre</th>
      <th>Id</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
    <tr *ngFor="let cart of cartList">
      <td>{{ cart.name }}</td>
      <td>{{ cart.productId }}</td>
      <td>{{ cart.amount }} ud</td>
      <td>{{ cart.price }}€</td>
    </tr>
  </table>
  </div>
  <button (click)="this.cartService.buy()" ><img src="assets/images/dinero.png" alt=""><br>Comprar</button><hr>
  <button [routerLink]="'/cart'">Volver</button>
</div>