.main-container .table-container table {
  margin: 0 auto;
  background-size: cover;
}
.main-container{
  text-align: center;
}

button{
  height: 15%;
  width: 10%;
  background-color: white;
}

img{
  width: 40%;
  height: 10%;
}

p{
  font-size: 200%;
}