<div id="HeaderContainer" class="container">
  <div id="LogoContainer" class="container">
    <img
      id="LogoImg"
      src="../../assets/images/Logo.png"
      alt="GumCraft-Logo"
      [routerLink]="'/'"
    />
    <h1 id="LogoName">GumCraft</h1>
  </div>
  <button id="CartBtn" class="buttonEnder" [routerLink]="'/cart'"><img class="enderChest" src="assets/images/enderFoto.png" alt=""><br>Cart</button>
  <button id="LoginBtn" class="buttonLogin" [routerLink]="'/login'"><img class="loginImg" src="assets/images/login.webp" alt=""><br>Login</button>
  <button id="RegisterBtn" class="buttonRegister" [routerLink]="'/register'"><img class="loginImg" src="assets/images/register.webp" alt=""><br>Register </button>
</div>
