@import url(../../../styles.css);

*{
  user-select: none;
}

.container{
  display: flex;
  width: 100%;
  align-items: center;
}

.container > *:not(.container) {
  margin: 1%;
}

#HeaderContainer{
  justify-content: space-around;
}

#LogoImg{
  width: 8vmin;
  height: min-content;
  border: solid 2px;
  border-radius: 15px;
  cursor: pointer;
  background-color: aqua;
}
#LogoImg:hover{
  filter: saturate(1.5);
  animation: shake 0.2s;
}

.enderChest{
  width: 60%;
  height: 30%;
}
.loginImg{
  width: 70%;
  height: 30%;
}
.buttonEnder{
  width: 10%;
  background-color: white;
}


.buttonLogin{
  width: 10%;
  background-color: white;
}
.buttonRegister{
  width: 10%;
  background-color: white;
}
