<h1>Catálogo de productos</h1>
<div id="CatalogContainer" class="container">
  <details *ngFor="let product of productList" name="producto">
    <summary>
      <img src="{{product.image}}" alt="{{product.name}} image">
      <p>
        {{product.name}} 
        <span class="eurPrice">{{product.eurPrice}}</span>
      </p>
    </summary>
    <button [routerLink]="'/product/' + product.productId"></button>
    <h4>Detalles</h4>
    <p>{{product.description}}</p>
    <p>Stock: {{product.stock}}</p>
    <p class="ethPrice">Precio ETH: {{product.ethPrice}}</p>
  </details>
</div>
