
.container{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1vmax;
  justify-content: space-around;
}

details{
  width: max-content;
  transition: 200ms;
  h4{
    text-align: center;
  }
}

summary{
  margin: 0px;
  border-radius: 15px;
  padding: 15px;
  font-size: large;
  text-align: center;
  background-color: rgb(214, 145, 124);
  cursor: pointer;
  color: black;
}

details[open]{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
}

details > summary {
  list-style: none;
}

.eurPrice::after{
  content: '€';
}

.ethPrice::after{
  content: 'Ξ';
}

.img{
  height: 350px;
  width: 350px;
}