<div class="parent">
  <div class="div1"></div>
  <div class="div2">
    <img
      class="logo"
      src="../../assets/images/LogoBg.png"
      alt=""
      [routerLink]="'/'"
    />
    <p>
      <b>Gumcraft</b> es una empresa fundada a principios de 2024, por un grupo
      de jóvenes emprendedores. <br />Decidieron juntar un claro éxito entre los
      jóvenes como el <b>Minecraft</b>, con algo muy cotidiano, los
      <b>chicles</b>
    </p>
  </div>
  <div class="div3"></div>
  <div class="div4">
    <img
      class="personajes"
      src="../../assets/images/sobreNosotros.png"
      alt=""
    />
  </div>
  <div class="div5">
    <b>Luis Miguel García Sevilla:</b><br />
    Empresario experimentado en el sector durante mas de 10 años, aporta a
    Gumcraft: <br />
    <br />-Organización <br />- Creatividad <br />- Ideas
  </div>
  <div class="div6">
    <img
      class="personajes"
      src="../../assets/images/personajeAngel.webp"
      alt=""
    />
  </div>
  <div class="div7">
    <b>Angel Linero Cano: </b><br />
    Joven desarrollador con 5 años de experiencia, aporta a Gumcraft: <br />
    <br />-Responsabilidad <br />- Creatividad <br />- Trabajo en equipo
  </div>
  <div class="div8">
    <img
      class="personajes"
      src="../../assets/images/personajePablo.png"
      alt=""
    />
  </div>
  <div class="div9">
    <b>Pablo Javier Muñoz García: </b><br />
    Desarrolador que proviene de Google, y tras 6 años se incorpora a Gumcraft
    aportando: <br />
    <br />-Decisión <br />- Ingenio <br />- Creatividad
  </div>

  <div class="div10">
    <img
      class="personajes"
      src="../../assets/images/personajeGonzalo.png"
      alt=""
    />
  </div>
  <div class="div11">
    <b>Gonzalo Ruíz Azuar: </b><br />
    Desarrollador que aporta: <br />
    <br />-Calma <br />- Creatividad <br />- Colaboración
  </div>
</div>
