<div class="logo-main">
  <img class="logo" src="../../assets/images/LogoBg.png" alt="" [routerLink]="'/'">
  <p><b>Gumcraft</b> es una empresa fundada a principios de 2024, por un grupo de jóvenes emprendedores. <br>Decidieron juntar un claro éxito entre los jóvenes como el <b>Minecraft</b>, con algo muy cotidiano, los <b>chicles</b></p>
</div>

<br><br><br>
<div class="main-container">
  <div class="row">
    <img class="personajes" src="../../assets/images/sobreNosotros.png" alt=""> 
    <p class="top"><b>Luis Miguel García Sevilla:</b><br> Empresario experimentado en el sector durante mas de 10 años, aporta a Gumcraft: <br> <br>-Organización <br>- Creatividad <br>- Ideas</p>
  </div>
  <div class="row">
    <img class="personajes" src="../../assets/images/personajeAngel.webp" alt=""> 
    <p class="top"><b>Angel Linero Cano: </b><br> Joven desarrollador con 5 años de experiencia, aporta a Gumcraft: <br> <br>-Responsabilidad <br>- Creatividad <br>- Trabajo en equipo</p>
  </div>
  <div class="row">
    <img class="personajes" src="../../assets/images/personajePablo.png" alt=""> 
    <p class="top"><b>Pablo Javier Muñoz García: </b><br> Desarrolador que proviene de Google, y tras 6 años se incorpora a Gumcraft aportando: <br> <br>-Decisión <br>- Ingenio <br>- Creatividad</p>
  </div>
  <div class="row">
    <img class="personajesG" src="../../assets/images/personajeGonzalo.png" alt=""> 
    <p class="top"><b>Gonzalo Ruíz Azuar: </b><br> Desarrollador que aporta: <br> <br>-Calma <br>- Creatividad <br>- Colaboración</p>
  </div>
</div>
