*{
  align-items: center;
}

.container{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

form > *{
  margin-bottom: 1%;
}

input{
  width: 300px;
  padding: 5px;
  
  border-radius: 8px;
}

input:hover{
  background-color: aliceblue;
}

#ErrorMessage{
  padding: 10px;
  width: max-content;

  background-color: rgb(255, 96, 96);
  border-radius: 15px;
  color: white;
}

#Message{
  padding: 10px;
  width: max-content;

  background-color: rgb(77, 196, 77);
  border-radius: 15px;
  color: white;
}
