<div id="LoginContainer" class="container">
  <h1>Inicio de sesión</h1>
  <form>
    <p id="ErrorMessage" *ngIf="errorMessage">{{errorMessage}}</p>
    <p id="Message" *ngIf="message">{{message}}</p>
    <b>Correo Electrónico</b>
    <input type="email" [(ngModel)]="userData.email" name="email" placeholder="Email"/>
    <b>Contraseña</b>
    <input type="password" [(ngModel)]="userData.password" name="password" placeholder="Password"/>
  </form>
  <button (click)="sendData()">Iniciar sesión</button>
  <button [routerLink]="'/'">Volver</button>
  <p>¿Aún no tienes cuenta? <a href="" [routerLink]="'/register'">Registrarse</a></p>
</div>
