
.content {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(214,
        145,
        124);
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    vertical-align: center;
    grid-area: 1 / 3 / 2 / 4;
}
.newItems{
    border: 1px transparent;
    border-radius:  10px 0px 0px 10px;
    height: 300px;
    width: 550px;
}

.marco{
    background-color: rgb(255, 239, 224);
    border-top: 10px rgb(255, 239, 224) solid;
    border-left: 10px rgb(255, 239, 224) solid;
    border-bottom: 10px rgb(255, 239, 224) solid;
    border-radius: 10px 0px 0px 10px;
}
