/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box  ;
}

body{
  background-color: rgb(255, 239, 224);
  background-size:contain;
}

button{
  border-radius: 10px;
  padding: 10px;
  background-color:lightblue;
  border: hidden;
  cursor: pointer;
}
.botones{
  padding-top: 3px;
  padding-bottom: 3px;

}
.name{
  background-color: white;
  border-radius: 10px;
}
button:hover{
  background-color:rgb(255, 221, 129);
  animation: shake 0.2s;
}

@keyframes shake {
  0%  {rotate:0deg;}
  25%  {rotate:-5deg;}
  50%  {rotate:0deg;}
  75% {rotate:5deg;}
  100% {rotate:0deg;}
}

#ErrorMessage{
  padding: 10px;
  width: max-content;

  background-color: rgb(255, 96, 96);
  border-radius: 15px;
  color: white;
}

#Message{
  padding: 10px;
  width: max-content;

  background-color: rgb(77, 196, 77);
  border-radius: 15px;
  color: white;
}

.AddToCart{
  background-color:  lightblue;
  cursor: pointer;
  width: fit-content;
}

.AddToCart:hover{
  background-color: rgb(255, 221, 129);
  animation: shake 0.2s;
}

table{
  border-collapse: collapse;
  border: solid 2px black;
  border-radius: 12px;
}

td, th{
  padding: 10px;
  border: 1px solid   black;
  background-color:whitesmoke;
}

td.number{
  text-align: right;
}
