.main-container{
  text-align: center;
}
img{
  width: 30%;
  height: 30%;
}
table{
  border: 2px solid rgb(120, 0, 96);
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 197, 207);
}
.chicle{
  width: 15%;
  height: 15%;
  margin-left: 40%;
}


.right{
  text-align: right;
}
.center{
  text-align: center;
}

p{
  text-align: center;
}
.informacion-nutricional{
  display: flex;
}
.sinRelleno{
  flex: 1;
}
.conRelleno{
  flex: 1;
}