<div class="main-container">
  <p>Para Gumcraft, lo más importante son nuestros <b>clientes</b>, y por tanto su seguridad, por lo que contamos 
    con el sello de seguridad AESAN (Agencia Española de Seguridad Alimentaria y Nutrición). Y posteriormente se muestran las 
    informaciones nutricionales</p>
  <img src="../../assets/images/selloSanidad.png" alt="Sello Sanidad">
</div>

<div class="informacion-nutricional">
  <p>CHICLES SIN RELLENO</p>
  <table>
    <tr>
      <td class="center" colspan="2">INFORMACIÓN NUTRICIONAL (100gr)</td>
    </tr>
    <tr>
      <td>Energía</td>
      <td class="right">674 kj / 161 kcal</td>
    </tr>
    <tr>
      <td>Grasas</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>de las cuales Saturadas</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>Carbohidratos</td>
      <td class="right">67 gr</td>
    </tr>
    <tr>
      <td>de los cuales azúcares</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>de los cuales polialcoholes</td>
      <td class="right">67 gr</td>
    </tr>
  </table>
  <br>
  <p><b>Ingredientes: </b> Base de goma, resinas naturales y sintéticas, edulcorantes, suavizantes, colorantes y aromatizantes naturales y artificiales</p>
  <br>

  <p>CHICLES CON RELLENO</p>

  <table>
    <tr>
      <td class="center" colspan="2">INFORMACIÓN NUTRICIONAL (100gr)</td>
    </tr>
    <tr>
      <td>Energía</td>
      <td class="right">730 kj / 195 kcal</td>
    </tr>
    <tr>
      <td>Grasas</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>de las cuales Saturadas</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>Carbohidratos</td>
      <td class="right">80 gr</td>
    </tr>
    <tr>
      <td>de los cuales azúcares</td>
      <td class="right">0 gr</td>
    </tr>
    <tr>
      <td>de los cuales polialcoholes</td>
      <td class="right">80 gr</td>
    </tr>
  </table>
  <br>
  <p><b>Ingredientes: </b> Base de goma, resinas naturales y sintéticas, edulcorantes, suavizantes, colorantes y aromatizantes naturales y artificiales, y crema para el relleno (segun el sabor del relleno)</p>
</div>